<link type="text/css" href="css/themename/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.18.custom.min.js"></script>

<h1>Список задач</h1>
<%= render 'users/login' %>
<table>
  <tr>
    <th>Title</th>
    <th>Problem</th>
    <th>deadline</th>
  </tr>

  <% @problems_new.each do |problem| %>
      <%= render :partial => "problems/display", :locals => {:problem => problem} -%>
  <% end %>
</table>

<h3>Old problems:</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Problem</th>
    <th>deadline</th>
  </tr>
  <% @problems_past.each do |problem| %>
      <%= render :partial => "problems/display", :locals => {:problem => problem} -%>
  <% end %>
</table>


<% if can? :create, Problem %>
    <br/>

    <%= link_to 'Новая задача', new_problem_path %>
<% end %>