<link type="text/css" href="css/themename/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.18.custom.min.js"></script>

<h1>Список задач</h1>
<table>
  <tr>
    <th>Название</th>
    <th>Условие</th>
    <th>Срок сдачи</th>
  </tr>

  <% @problems_new.each do |problem| %>
      <%= render :partial => "problems/display", :locals => {:problem => problem} -%>
  <% end %>
</table>

<br><h3>Для этих задач срок сдачи уже прошел:</h3>

<table>
  <tr>
    <th>Название</th>
    <th>Условие</th>
    <th>Срок сдачи</th>
  </tr>
  <% @problems_past.each do |problem| %>
      <%= render :partial => "problems/display", :locals => {:problem => problem} -%>
  <% end %>
</table>