<h1>Таблица баллов</h1>

<table id="users">

  <% @users.each do |user| %>
      <tr>
        <td id="first"></td>
        <td id="second"><%= user.points %></td>
        <% if current_user.id == user.id || current_user.role == "admin" %>
            <td><%= link_to 'Изменить', edit_user_path(user) %></td>
            <td><%= link_to 'Удалить', user, :confirm => 'Вы уверены?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>
