body { background-color: #fff; color: #333;   font-family: Arial,Tahoma,sans-serif; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {
  margin-bottom: 30px;
  color: #709237;
  font-size: 25px;
  text-shadow: 1px 1px 1px #EBEBEB;

}

h3 {
  font-size: 20px;
  color: #709237;
  font-weight: normal;
  text-shadow: 1px 1px 1px #EBEBEB;
}


ul {
  list-style: none;
  a:link, a:visited {
    color: #1986AE;
    text-decoration: none;
  }
}

a { color: #6DA3BD; }
//a:visited { color: #666; }
a:hover { color: #4D7285; }

div.field, div.actions {
  margin-bottom: 10px;
}

#images {
  position:absolute;
  left:0px;
  height:75px;
  right:422px;
  background-image: url('mmf.gif');
  display: block;

}

#user_nav {
  position:absolute;
  right:40px;
  text-align:right;
  padding: 7px;
  font-size: 11px;
  p { font-size: 11px; }
}

#yield {
  position:absolute;
  top:100px;
  left:300px;
  padding: 7px;
}



.left-menu {
  border-top: 1px solid #3AABD3;
  position:absolute;
  top:100px;
  left:0;
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
  li a{
    line-height:31px;
    border-bottom: 1px solid #3AABD3;
    display: block;
    padding: 0 8px;
  }
  li a:hover {
    color: #1E596E; /* цвет текста */
    background-color: #eeeeee; /* фоновый цвет */
  }
  //a:hover { color: #2F8BAB; background-color:#eeeeee; }
}

#users {
  td#first {  width:200px;  }
  td#second {  width:50px;  }
}

#notice {
  color: green;
}

.s-table {
  width: 100%;
  /*td { padding:0px; }*/
  /*.one { width: 200px; }*/
  /*.two { width: 50%; }
  .three { width: 80px; } */
}

.comment {
  margin: 30px 5px;
}



.comment-count {
  background-image:url('comment.png');
  background-repeat:no-repeat;
  padding-left: 10px;
  margin-left:20px;
  display: inline
}

.news {
  margin-bottom:30px;
  .new-title { margin-bottom:5px; }
  .time { font-size:10px; display: inline}
  .body {margin-top: 5px;}
}

.author { display: inline; margin-right:20px; }


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
