Someone edited the product the same time you did. Please re-apply your changes to the product.

<h2>Your Submission:</h2>
<p>
<% params[:solution].each do |name, value| %>
  <%=h name.humanize %>: <%=h value %>
<% end %>
</p>
