<h3>Изменение решения</h3>
<% if @solution.result == "зачтено" %>
    Зачем
    изменять зачтенное решение?<br><br>
<% else %>
    <%= render 'form' %>
<% end %>

<%= link_to 'Показать', [@problem, @solution] %>
