<h3>Новое решение</h3>

<% if (my_sol_count(@problem) == 0) %>
    <%= render 'form' %>
<% else %>
    Для этой задачи Вами уже отправлено решение
<% end %>

<%= link_to 'К списку задач', problems_path %>
