<h3>Непроверенные решения</h3>

<table>
  <tr>
    <th>Студент</th>
    <th>Задача</th>
    <th>Статус</th>
    <th>Время добавления</th>
  </tr>

  <% @solutions.each do |solution| %>
      <%= render :partial => 'display', :locals => { :solution => solution }%>
  <% end %>
</table>

<br/>